# Gradle
.gradle
build/
.DS_Store
reports/


# IDEA
.idea
*.ipr
*.iws
*.iml


# Eclipse
.classpath
.project
.settings

# JRebel
tools/jrebel/licensing.info

*.log


tablet/src/main/frontend/node_modules/

.credentials

# Elasticsearch
**/data/

up-config/
